# Copy this to config.mak and modify. Defaults are given in comments below.
#
# Target machine. Note that ARCH is somewhat of a misnomer; it isn't
# necessarily the cpu architecture. acceptable values are x86, rpi, or
# panda.
# 
# ARCH=x86
#
# Prefix/suffix for the arm toolchain. The build system will invoke
# e.g. $(ARM_TOOL_PREFIX)gcc$(ARM_TOOL_SUFFIX) to compile the kernel.
#
# ARM_TOOL_PREFIX=arm-none-eabi-
# ARM_TOOL_SUFFIX=
