# Copy this to config.mak and modify. Defaults are given in comments below.
#
# The target platform. acceptable values are x86 (standard pc), rpi
# (raspberry pi), and panda (pandaboard).
# 
# PLATFORM=x86
#
# Prefix/suffix for the arm toolchain. The build system will invoke
# e.g. $(ARM_TOOL_PREFIX)gcc$(ARM_TOOL_SUFFIX) to compile the kernel.
#
# ARM_TOOL_PREFIX=arm-none-eabi-
# ARM_TOOL_SUFFIX=
